// @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Rubik:wght@300&display=swap');



@media screen and (min-width: 992px) {
    .container {
        max-width: 60%;
    }
}

.mb-40 {
    margin-bottom: 40px;
}

.btn__custom {
    outline: none;
    text-decoration: none;

    border: 1.5px solid #fff;
    background: #95a5a6;
    color: #fff;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 1rem;

    &:hover {
        text-decoration: underline;
    }
}


// header - [START]
header {
    background-color: #2c3e50;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // border-bottom: 2px solid rgba(255, 255, 255, 0.423);

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            text-decoration: none;
            color: #fff;

            h1 {
                margin: 0;
                padding: 0;
                font-size: 2rem;

            }
        }

        .links {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px;
        }
    }
}
// header - [END^]


// main - [START]
main {
    margin: 75px 0;

    section {

        &.header {
            margin-bottom: 75px;
        }
    }

    article {

        div{
            margin: 0;

            code {
                display: block;
            }

            pre {
                font-size: .85rem;
            }

            ul {
                margin-bottom: 0;
            }
        }
    }
}
// main - [END^]


// footer - [START]
footer {
    background: #f5f5f5;
    color: rgba(0, 0, 0, .5);
    font-size: .75rem;
    text-align: center;
    padding: 7px 0;
}
// footer - [END^]